/* Reset básico para remover margens e paddings padrão */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200;1,200&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;    /* Define a largura máxima */
  background-color: white;/* Outras propriedades, se necessário */
  justify-content: center;
  font-family: "Inter", serif;;
}

.body-projetos {
  background-color: #f5f5f5;
  justify-content: center;
  font-family: "Inter", serif;
  height: 2000px;
}


main {
  width: 100vw; /* Ocupa 100% da largura da janela */
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-projetos {
  display: flex;
  flex-direction: column;  /* Organiza os itens em uma coluna */
  gap: 20px;  /* Espaçamento entre os itens */
}
/* Estilização do Header */
header {
  background-color:transparent; /* Cor de fundo do header */
  padding: 25px 20px; /* Espaçamento interno */
  position: fixed; /* Fixar o header no topo */
  margin: 0 auto; 
  width: 100vw; /* Ocupa 100% da largura da janela */
  text-align: center; /* Alinha o conteúdo */
  z-index: 1000; /* Garantir que o header fique acima de outros elementos */
}

.header-projetos {
  background-color: none;
  padding: 25px 20px;
  position: fixed;
  margin: 0 auto; 
  width: 100vw;
  text-align: center;
  z-index: 1000;
}

footer {
  margin: 0 auto; 
  width: 120vh; /* Ocupa 100% da largura da janela */
  text-align: center; /* Alinha o conteúdo */
  z-index: 9999; /* Garantir que o header fique acima de outros elementos */

}


/* ABAIXO CSS DO MENU SLIDE */ 

.card {
  border-radius: 25px 25px 0 25px;
  background-color: #2B3D4F;;
  width: 100%; 
  margin: 0 10px;
  /* VER A QUESTÃO DESSE WIDHT COM E SEM JS*/

}

.card-image {
  position: relative; /* Necessário para controle de sobreposição */
  margin-left: -20px; /* Sobreposição das imagens */
  width: 80px; /* Largura da imagem */
  height: 80px; /* Altura da imagem */
  border: 3px solid white; /* Borda branca */
  border-radius: 50%; /* Torna as imagens circulares */
  overflow: hidden; /* Garante que o conteúdo fique dentro do círculo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */

}

.card-image:first-child {
  margin-left: 0; /* Remove o deslocamento da primeira imagem */
}

/* abaixo borda ao redo da foto de perfil" ativar ou rrativar os pixeis para bordas*/
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: px solid #151c31;
  padding: px;
  

}

.card-img {
  width: 100%; /* Ajusta a imagem ao tamanho do círculo */
  height: 100%; /* Ajusta a imagem ao tamanho do círculo */
  object-fit: cover; /* Preenche o círculo sem distorcer */
}

.mini-perfil{
  width: 1400px;
  margin: 0 auto;
  display: flex;
}

.estrelas-do-mini-perfil{
  padding-left: 20px;

}

.estrelas-do-mini-perfil h3 {
  padding-top: 10px;
}

.estrelas-do-mini-perfil p {
  color: #33333384 ;
  padding-top: 10px;
  font-weight: 600;
  font-size: 20px;
}

.boas-vindas {
  width: 1000px;
}

.text-color {
  color: white;
}

.bg-color-black {
  background-color: #111;
  padding-top: 70px;

}

.secao-apresentacao-perfil {
  height: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha verticalmente */
  max-width: 1400px;
  height: 35px;
  margin: 0 auto;
  font-weight: 700;
  

}

/* Logo (ORRA STUDIO) */
.orraeicone {
  display: flex;
  align-items: center;
}

.sobeorra {
  font-size: 23px;
  color: black;
  opacity: 0;
  transform: translateY(50px); /* Posiciona o logo 50px abaixo inicialmente */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.sobeorra.show {
  transform: translateY(0); /* Move o logo para a posição original */
  opacity: 1;
}

/* Opções de Navegação */
.nav-opcoes {
  display: flex;
  flex-direction: row; /* Garante que as opções estejam em linha */
  color: black;
}

.nav-opcoes ul.nav-links {
  list-style: none;
  display: flex; /* Exibe os itens em linha */
}

.nav-opcoes ul.nav-links li.nav-option {
  margin: 0 15px; /* Espaçamento entre as opções */
  opacity: 0;
  transform: translateY(50px); /* Posiciona as opções 50px abaixo inicialmente */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.nav-opcoes ul.nav-links li.nav-option.show {
  transform: translateY(0);
  opacity: 1;
}

.nav-opcoes ul.nav-links li.nav-option a {
  color: black; /* Cor da fonte NAV */
  text-decoration: none;
  font-size: 21px;
  transition: color 0.3s ease;
}

.nav-opcoes ul.nav-links li.nav-option a:hover {
  color: #978a77; /* Cor ao passar o mouse */
}

/* Localização */
.nav-localizacao {
  color: black;
  font-size: 21px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50px); /* Posiciona a localização 50px abaixo inicialmente */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.nav-localizacao.show {
  transform: translateY(0);
  opacity: 1;
}

.nav-localizacao:hover {
  color: #6170af; /* Cor ao passar o mouse */
}

.paragrafo-animado {
  color: #6c6868;
  max-width: 1400px;

}

.home-banner {
  padding: 120px 20px 20px 10px;
  height: 700px;
  width: 1441px;
  display: flex;
  justify-content: start;
  margin: 0 auto;
}

.home-banner.home-banner-forms {
  padding-top: 200px 20px 20px 20px;
  height: 500px;
  width: 1441px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
}

.home-banner.home-banner-forms h2 {
  padding-top: 70px;
  width: 100%;
  font-size: 60px;
  font-weight: 800;
  height: 100px;
}
.home-banner.home-banner-forms p {
  padding-top: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  height: 150px;
}

.form-section {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
  max-width: 1441px;

}

.form-section p {
  width: 700px;
}

/* Estilo para o placeholder */
label {
  padding: 15px 0 5px 0;  /* Espaçamento interno */
  color: #333333cf;  /* Cor do texto */
  font-family: "Inter", sans-serif;
}

input::placeholder, textarea::placeholder {
  color: #aaa;  /* Cor do placeholder */
  font-family: "Inter", sans-serif;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;  /* Faz o placeholder desaparecer ao focar no campo */
}

/* Container para as preferências de contato */
.form-group {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

/* Título do campo "Preferências de Contato" */
.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Estilizando os checkboxes */
.form-group label input[type="checkbox"] {
  margin-right: 10px; /* Deixa o checkbox mais próximo do texto */
  cursor: pointer; /* Cursor de mãozinha ao passar por cima */
  width: 18px;
  height: 18px;
  transition: all 0.3s ease; /* Transição suave para animações */
}

/* Estilo do texto ao lado do checkbox */
.form-group label {
  display: inline-flex; /* Para alinhar checkbox e texto */
  align-items: center;
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Efeito de hover no texto */
.form-group label:hover {
  color: #354f6b; /* Cor do texto ao passar o mouse */
}

/* Efeito de hover no checkbox */
.form-group label input[type="checkbox"]:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho do checkbox ao passar o mouse */
}

/* Efeito de quando o checkbox está marcado */
.form-group input[type="checkbox"]:checked {
  background-color: #007BFF; /* Cor de fundo ao marcar o checkbox */
  border-color: #007BFF; /* Cor da borda ao marcar */
}

/* Customizando o estilo do checkbox */
.form-group input[type="checkbox"]:checked + label {
  color: #007BFF; /* Muda a cor do texto ao marcar */
}

/* Adicionando um pequeno espaçamento entre os checkboxes */
.form-group label + label {
  margin-left: 20px;
}

/* Estilo básico do botão */
.form-group button[type="submit"] {
  background-color: #1a2127; /* Cor de fundo */
  color: white; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
  padding: 12px 30px; /* Espaçamento interno (padding) */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de mãozinha ao passar por cima */
  transition: all 0.3s ease; /* Transição suave para efeitos */
  font-weight: bold; /* Texto em negrito */
  width: 100%;
  height: 70px;
}

/* Efeito de hover no botão */
.form-group button[type="submit"]:hover {
  background-color: #4d545b; /* Cor de fundo ao passar o mouse */
  
}

/* Efeito de foco no botão */
.form-group button[type="submit"]:focus {
  outline: none; /* Remove a borda de foco padrão */
  box-shadow: 0 0 5px rgb(39, 40, 42); /* Adiciona um contorno azul ao focar */
}

/* Efeito de click no botão */
.form-group button[type="submit"]:active {
  background-color: #131e13; /* Cor de fundo ao clicar */
  transform: scale(1); /* Normaliza o tamanho ao clicar */
}



.home-banner.home-banner-projetos{
  height: 500px;
  width: 1441px;
  display: flex;
  flex-direction: column;
}

.home-banner.contato-projetos {
  height: 300px;
}

.home-banner.home-contato-projetos {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar linha */
  gap: 10px; /* Espaço entre as caixas */
  max-width: 1441px; /* Define uma largura máxima */
  justify-content: space-between; /* Espaçamento horizontal */
  margin: 0 auto; /* Centraliza o conteúdo */
}



.flex-container {
  display: flex;
  width: 900px;
  justify-content: space-between; /* Espaçamento entre os elementos */
  gap: 10px; /* Espaço entre as caixas */
}

.box {
  padding: 20px;
  border-radius: 5px;

}

.box1 {
  flex: 0 0 30%; /* Ocupa 30% da largura */
}

.box2 {
  flex: 0 30% 0; /* Ocupa 70% da largura */
  text-align: start;
}


.box3 {
  width: 100%; /* Ocupa a largura total */
  margin-top: 20px; /* Espaçamento entre o conteúdo e os botões */
  text-align: center;
}

#botoes-final {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px; /* AQUI PARA MUDAR POSIÇÃO DO BOTAO EM RELAÇÃO O DE CIMA*/
}

.home-banner h2 {
  width: 100%;
  font-size: 100px;
  font-weight: 300;
  height: 250px;

}
.home-banner p {
  width: 900px;
  font-size: 40px;
  height: 150px;
}

.botao p {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 10px;
  text-align: center;
  padding-top: 15px;
  border-radius: 25px;
  font-size: 20px;


}

.botao p:hover {
  background-color: rgb(194, 186, 186);
  color: black;
}

.alinhar-botoes {
  width: 400px;
  display: flex;
  gap: 20px;

}


.button-final{
  position: relative;
  width: 200px;
  height: 47px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 25px;
  border: none;
}

.trabalhos-anteriores {
  height: 850px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;


}

.trabalhos-anteriores.trabalhos-anteriores-forms {
  margin-bottom: 70px;

}

.trabalhos-anteriores.t-a-projetos  {
  height: 1400px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.frase-trabalhos-anteriores {
  text-align: start;
  width: 100%;
  max-width: 1400px;
  margin: auto;

}

.frase-trabalhos-destacados {
  padding-bottom: 10px;
  max-width: 1400px;
  text-align: start;
  margin: 0 auto;
}

.frase-trabalhos-destacados h3 {
  font-size: 28px;
  font-weight: 500;
  color: #212020;
}

.apresentacao-trabalhos-mini {
  width: 100%;
}

.mini-projetos {
  width: 1400px;
  margin: 0 auto;
  display: flex;

}


.apresentacao-trabalhos-mini-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    grid-gap: 20px; /* Espaçamento entre as imagens */
    margin: 0 auto; /* Centraliza a galeria */
    width: 1400px;
}

.apresentacao-trabalhos-mini-img-projetos.duas-colunas {
  display: grid;
  grid-template-columns: repeat(2, 0fr); /* 2 colunas iguais */
  grid-gap: 20px; /* Espaçamento entre as imagens */
  max-width: 1441px; /* Limita a largura da galeria */

  
}



.img-mini {
  width: 450px;
  height: 360px; /* Altura fixa para as imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
  border-radius: 10px; /* Bordas arredondadas (opcional) */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
}


.img-mini.img-mini-projetos {
  width: 700px;
  height: 450px; /* Altura fixa para as imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
  border-radius: 10px; /* Bordas arredondadas (opcional) */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
}

.img-max {
  width: 1200px;
  height: 600px;
  border-radius: 25px;
  display: block;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */

}

.apresentacao-trabalhos-maximo {
  display: flex;
  padding: 20px 0 0 0;
  max-width: 1400px;
  justify-content: center;
  margin: auto;
}
.frase-trabalhos-anteriores h3{
  width: 100%;
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 400;
  color: #212020;

}

.gallery-item {
  display: grid;
  position: relative; /* Necessário para posicionar o overlay */
  overflow: hidden; /* Oculta partes da imagem que excedem o contêiner */
  cursor: pointer; /* Indica que o item é interativo */
  width: 450px;
  height: 360px;
}

.gallery-item.gallery-item-projetos {
  display: grid;
  position: relative; /* Necessário para posicionar o overlay */
  overflow: hidden; /* Oculta partes da imagem que excedem o contêiner */
  cursor: pointer; /* Indica que o item é interativo */
  width: 700px;
  height: 450px;
}


/*.gallery-item:hover .img-mini {
  transform: scale(1.1);  Zoom na imagem ao passar o mouse 
}
  AQUI PARA ADCIONAR O EFEITO ZOOM
*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 360px;
  background: rgba(0, 0, 0, 0.735); /* Camada semi-transparente */
  opacity: 0; /* Invisível inicialmente */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  
}

.overlay.overlay-projetos {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 450px;
  background: rgba(0, 0, 0, 0.735); /* Camada semi-transparente */
  opacity: 0; /* Invisível inicialmente */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  
}

/* Torna o overlay visível ao passar o mouse */
.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay .text {
  color: #fff;
  text-align: end;
  transform: translateY(20px); /* Posiciona as frases abaixo inicialmente */
  opacity: 0; /* Invisível inicialmente */
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.gallery-item:hover .overlay .text {
  transform: translateY(0); /* Move as frases para a posição original */
  opacity: 1; /* Torna as frases visíveis */
}

.overlay .text p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.4;
}

/* Estilização das Frases no Overlay */
.overlay .frase-esquerda,
.overlay .frase-direita {
    position: absolute;
    bottom: 20px; /* Espaço do fundo */
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0; /* Invisível inicialmente */
    transform: translateY(30px); /* Posiciona as frases 20px abaixo */
    transition: transform 0.7s ease, opacity 0.1s ease;
}

/* Exibindo as Frases ao Passar o Mouse */
.gallery-item:hover .overlay .frase-esquerda,
.gallery-item:hover .overlay .frase-direita {
    opacity: 1; /* Torna as frases visíveis */
    transform: translateY(0); /* Move as frases para a posição original */
}

/* Posicionando a frase à esquerda */
.overlay .frase-esquerda {
    left: 20px; /* Espaço da esquerda */
    text-align: left;
}

/* Posicionando a frase à direita */
.overlay .frase-direita {
    right: 20px; /* Espaço da direita */
    text-align: right;
}




.apresentacao-trabalhos-abaixo {
  display: flex;
  flex-direction: row;
  width: 100%; /* Garante que a div ocupe 100% da largura disponível */
  margin: auto;

}


.apresentacao-trabalhos-abaixo.trabalhoMax {
  max-width: 1400px;
  display: flex;
  flex-direction: row;

}

.apresentacao-trabalhos-abaixo > div {
  max-width: 1400px;
  width: 100%; /* Cada div ocupa 50% da largura da div pai */
  box-sizing: border-box;
  padding: 20px 0px 30px 0px ;
  

}



.titulo-frase-2  {
  flex: 0 0 40%; /* Ocupa 30% da largura */
  text-align: start;
  text-align: justify;
  padding-bottom: 20px;
  font-weight: 100;
}

.titulo-frase-2 h3 {
  font-size: 20px;
  font-weight: 500;
  color: #212020f8;
}


.texto-frase-2 p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #504b4bf8;
}

.abaixo-frase-1 {    
  text-align: start;
  flex: 0 0 60%; /* Ocupa 30% da largura */

}

.abaixo-frase-1 h3 {
  font-size: 27px;
  font-weight: 500;
  color: #202020da;
}
.abaixo-frase-1 h4 {
  font-size: 27px;
  font-weight: 500;
  color: #202020da;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.alinhar-text-direita {
  padding-top: 150px;
  text-align: right;
}

/* ABAIXO SEGUNDO OVERLAY*/

/* Contêiner que engloba a imagem e o overlay */
.img-max-container {
  position: relative;    /* Permite posicionar o overlay sobre a imagem */
  width: 100%;           /* Ajuste conforme seu layout */
  /*max-width: 800px;       Limita a largura se quiser */
  margin: 0 auto;        /* Centraliza se quiser */
  overflow: hidden;      /* Garante que nada “vaze” */
}

/* A Imagem */
.img-max {
  width: 100%;
  height: 700px;          /* Mantém a proporção original, se quiser outro estilo, defina altura fixa */
  display: block;
  border-radius: 8px;    /* Bordas arredondadas, opcional */
  transition: transform 0.3s ease; /* Efeito de zoom no hover */
}

/*.img-max-container:hover .img-max {
  transform: scale(1.05);  Zoom leve na imagem ao passar o mouse 
} */

/* Overlay Simples (Sem Frase) */
.overlay2 {
  position: absolute;
  top: 0;   
  left: 0;  
  width: 100%;
  height: 100%;
  background: rgba(248, 244, 244, 0.219); /* Camada semi-transparente */
  opacity: 0;                     /* Invisível inicialmente */
  transition: opacity 0.3s ease;  /* Animação de aparição */
  border-radius: 8px;             /* Mesmo raio da imagem para acompanhar as bordas */
}

/* Exibir Overlay ao Passar o Mouse */
.img-max-container:hover .overlay2 {
  opacity: 1; /* Torna o overlay visível no hover */
}

.linha-services {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.linha-forms {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

}

.linha-services hr {
  border: 0;
  height: 1px;
  background-color: black; /* Cor da linha */
  width: 100%;
  margin: 0px auto; /* Centraliza horizontalmente */
}

.linha {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1441px;
  margin: auto;
  
}

hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.16); /* Cor da linha */
  width: 100%;
  margin: 20px auto; /* Centraliza horizontalmente */
}

.linha-bemvindo {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1441px;
  margin: auto;
  width: 100%;
}


/* Estado inicial invisível */
.slide-up, .fade-in, .zoom-in {
  opacity: 0;
}

/* Configuração da animação */
.slide-up.animate {
  animation: slideUp 1.2s ease-out forwards;
  animation-delay: 0.5s;
}

.fade-in.animate {
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 0.5s;
}

.zoom-in.animate {
  animation: zoomIn 1.2s ease-out forwards;
  animation-delay: 0.5s;
}

/* 🌟 Estilos base */
.cartao-plano {
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(50px); /* Inicialmente deslocado para baixo */
  transition: opacity 1s, transform 1s;
}

.cartao-plano.animate {
  opacity: 1;
  transform: translateY(0);
}


/* Sequência de animações com delay para cada cartão */
.cartao-plano:nth-child(1) {
  animation-delay: 1s;
}

.cartao-plano:nth-child(2) {
  animation-delay: 2s; /* Meio segundo de atraso para o próximo */
}

.cartao-plano:nth-child(3) {
  animation-delay: 3s; /* E assim por diante */
}

.cartao-plano:nth-child(4) {
  animation-delay: 5s;
}

.cartao-plano:nth-child(5) {
  animation-delay: 7s;
}

/* Adicione mais `nth-child` se houver mais cartões */


/* Keyframes do vir debaixo */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-container {
  position: relative;
  width: 200px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 27px;
  border: 1px solid black;

}

.button-projetos {
  position: relative;
  width: 119px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 25px;
}


.button-forms {
  position: relative;
  width: 220px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 25px;
}




.btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 600;
}

/* Botão da frente (preto) */
.btn-front {
  background-color: black;
  color: white;
  transform: translateY(0%);
  z-index: 1;
}

.btn-front.button-forms {
  background-color: white;
  color: black;
}

.btn-front.button-final {
  background-color: white;
  color: black;
}


/* Botão de trás (branco) */
.btn-back {
  background-color: white;
  color: black;
  border: 1px solid black;
  transform: translateY(100%);
  z-index: 1;
  border-radius: 25px;
}

.btn-back.button-forms {
  border: none;
}

.btn-back.button-final{
  border: none;
}

.button-container.button-forms, .button-container.button-final {
  background-color: white; /* aqui a cor por traz do botao branco*/
}


.button-container {
  background-color: black; /* aqui a cor por traz do botao branco*/
}


/* Efeito hover */
.button-container:hover .btn-front {
  transform: translateY(-100%);
}

.button-container:hover .btn-back {
  transform: translateY(0%);

}
/* seção SERVICOS*/

.infos-services {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 20px;
  margin: auto;
  max-width: 1400px;
}

.texto-services {
  padding-top: 60px;
  width: 500px;
  text-align: start;
  color: #817c7c;
}

.titulo-services {
  font-size: 100px;
  width: 50%;
  text-align: left;
}

.texto-justificado {
  text-align: left;
  font-size: 20px;
}

.apresentacao-services{
  display: flex;               /* Organiza a imagem e o texto lado a lado */
  gap: 20px;                   /* Espaço horizontal entre conteiner-perfil e apresentacao-info */
  align-items: flex-start;     /* Alinha no topo (pode usar center se preferir) */
  padding: 20px;               /* Espaçamento interno da seção */
  max-width: 1400px;         /* Largura fixa da div pai */
  margin: 0 auto;       /* Centraliza horizontalmente */
        /* Coloca os filhos lado a lado */
  /* Opcional: espaçamento entre filhos */
  /* gap: 10px; */
  box-sizing: border-box;
}

.conteiner-perfil-services {
  display: flex;
  flex-direction: column;      /* Imagem e textos ficam em coluna */
  align-items: left;         /* Centraliza horizontalmente (opcional) */
  width: 100%;                /* Largura fixa ou ajustável do contêiner (ajuste se quiser) */
  gap: 10px;                   /* Espaço vertical entre a imagem e os <p> */
  text-align: left;          /* Centraliza texto (opcional) */
}

.img-perfil-services {
  width: 100%;                 /* O div .img-perfil ocupa toda a largura do contêiner */
  max-width: 120px;            /* Ajuste: limite máximo que quiser para a imagem */
  overflow: hidden;            /* Garante que nada "vaze" se for maior */
  border-radius: 50%;          /* Exemplo: se quiser em formato circular (remova se não quiser) */
}

.img-perfil-services img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;          /* Se quiser manter formato circular */
} 

.texto-justificado {
  font-size: 32px;
  font-weight: 500;             /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: rgb(92, 92, 92);
  width: 400px;
} 

.apresentacao-info-services {
  flex: 1;                     /* Ocupa o resto do espaço horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;     /* Alinha verticalmente, se preferir */
  gap: 10px;                   /* Espaço vertical interno */
}

.apresentacao-info-services h3 {
  font-size: 20px;
  color: #111;
}

.apresentacao-info-services p {
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

.apresentacao-perfil-services .conteiner-perfil-services,
.apresentacao-perfil-services .apresentacao-info-services {
  width: 50%;         /* 50% da largura do pai */
  box-sizing: border-box; /* Garante que padding seja incluso */
  padding: 20px 20px 20px 20px;
}



/* SEÇÃO PRINCIPAL */

.texto-apresentacao {
  width: 500px;
  text-align: start;
}

.infos.clientes {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 1400px;

}

.infos.clientes p {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 20px;


}


.infos {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 20px;
  margin: auto;
  max-width: 1400px;
  
}

.titulo-apresentacao {
  width: 1100px;
  text-align: left;
  font-size: 90px;
  font-weight: 600;
}

.titulo-apresentacao.cometario {
  width: 1100px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.titulo-apresentacao.pacotes {
  width: 500px;
  text-align: left;
  font-size: 90px;
  font-weight: 600;
}



.linha-comentario {
  margin-bottom: 100px;
}


.apresentacao-perfil {
  display: flex;               /* Organiza a imagem e o texto lado a lado */
  gap: 20px;                   /* Espaço horizontal entre conteiner-perfil e apresentacao-info */
  align-items: flex-start;     /* Alinha no topo (pode usar center se preferir) */
  max-width: 1400px;         /* Largura fixa da div pai */
  margin: 0 auto;       /* Centraliza horizontalmente */
        /* Coloca os filhos lado a lado */
  /* Opcional: espaçamento entre filhos */
  /* gap: 10px; */
  box-sizing: border-box;
}

/* CONTEINER QUE CONTÉM IMAGEM E LINKS */
.conteiner-perfil {
  display: flex;
  flex-direction: column;      /* Imagem e textos ficam em coluna */
  align-items: center;         /* Centraliza horizontalmente (opcional) */
  width: 200px;                /* Largura fixa ou ajustável do contêiner (ajuste se quiser) */
  gap: 10px;                   /* Espaço vertical entre a imagem e os <p> */
  text-align: center;          /* Centraliza texto (opcional) */
}

/* IMAGEM PEQUENA MAS RESPONSIVA */
.img-perfil {
  width: 100%;                 /* O div .img-perfil ocupa toda a largura do contêiner */
  max-width: 250px;            /* Ajuste: limite máximo que quiser para a imagem */
         /* Garante que nada "vaze" se for maior */
  border-radius: 50%;          /* Exemplo: se quiser em formato circular (remova se não quiser) */
}

/* FAZ A IMAGEM SE AJUSTAR AO TAMANHO DO CONTAINER */
.img-perfil img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 9%;
  margin-bottom: 15px;
       /* Se quiser manter formato circular */
}

/* TEXTOS DO CONTAINER-PERFIL */
.p1 {
  font-size: 17px;             /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: rgba(255, 255, 255, 0.747);
}

.p2 {
  font-size: 23px;  
  font-weight: 500;           /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: white;
}

/* BLOCO DE INFORMAÇÃO */
.apresentacao-info {
  flex: 1;                     /* Ocupa o resto do espaço horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;     /* Alinha verticalmente, se preferir */
  gap: 10px;                   /* Espaço vertical interno */
}

.apresentacao-info h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 25px;
}

.apresentacao-info p {
  font-size: 22px;
  line-height: 1.5;
  color: #d4d4d4c2;
  text-align: left;
}

/* Cada div filha ocupa 50% */
.apresentacao-perfil .conteiner-perfil,
.apresentacao-perfil .apresentacao-info {
  width: 50%;         /* 50% da largura do pai */
  box-sizing: border-box; /* Garante que padding seja incluso */
  /* Caso queira padding interno em cada div */
  padding: 50px 20px 20px 20px;
  align-items: start;
  text-align: justify;
  
}


.largura {
  padding-top: 90px;
  max-width: 1400px;
  background-color: white;
  margin: 0 auto;
;
}


.largura-areaPlanos {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  padding: 70px 70px 70px 70px;

}

section.apresentacao-trabalhos-abaixo.text-color.bg-color-black {
  display: none;
}

.area-planos {
  display: none;
  gap: 20px;
  padding: 0 70px 70px 70px;
  background-color: #111;
}

.cartao-plano {
  background-color: #111;
  border: 2px solid #FFF;
  border-radius: 8px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cartao-plano h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.cartao-plano .estrelas {
  margin-bottom: 15px;
}

.cartao-plano .estrelas span {
  color: #fff;
  font-size: 1.2rem;
}

.cartao-plano p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #fff;
}

.cartao-plano .preco {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.cartao-plano .prazo {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 20px;
}

.cartao-plano button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cartao-plano button:hover {
  background-color: #555;
}

.cartao-plano a {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
}

.cartao-plano a:hover {
  text-decoration: underline;
}

.entregas {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  color: #fff;
  border-top: 2px solid #fff; /* Borda apenas no topo */
  padding: 30px;
  background-color: #333;
  height: 100%;
}

.entregas h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.entregas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.entregas ul li {
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  
}

.entregas ul li::before {
  content: '✔';
  color: #fff;
  margin-right: 10px;
  

}

.starter {
  height: 550px;
  overflow: hidden;

}

.pro {
  height: 650px;
  overflow: hidden;
}

.elite {
  height: 760px;
  overflow: hidden;
}

.container-planos {
  display: flex;
  justify-content: space-between; /* Divide em dois lados */
  align-items: center;
  flex-wrap: wrap; /* Quebra para telas pequenas */
  width: 100%;
  max-width: 800px; /* Define um limite de largura */
  margin: auto; /* Centraliza na página */
  padding: 50px;
}

/* Estilizando a primeira div (lado esquerdo) */
.projeto-info {
  flex: 1; /* Ocupa o espaço disponível */
  min-width: 200px; /* Define um tamanho mínimo */
  text-align: left;
  padding-left: 100px;
}

/* Estilizando a segunda div (lado direito) */
.fundador-info {
  flex: 1;
  min-width: 200px;
  text-align: right;
  padding-right: 100px;
}



/* roda pe abaixo */


.rodape {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  color: #fff;
  margin: 0 auto;
}

.rodape ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rodape a {
  color: #fff;
  text-decoration: none;
}
/*  form abaixo */

Users/pablo/Documents/orrastudiocriativoSITE/style.css */
/* ...existing code... */

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.duas-colunas-contato {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1441px;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 50px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 1200px) {
  /* Mantém o layout em linha mesmo em telas menores */

  main {
    display: flex; /* Ou display: grid */
    flex-direction: column; /* Para manter os filhos organizados verticalmente */
    width: 100%; /* Para evitar que os filhos saiam */
    max-width: 1100px; /* Define um limite */
    margin: 0 auto; /* Centraliza na tela */
    overflow: hidden; /* Impede que elementos vazem */
  }

  .navbar {
    display: flex;
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Alinha verticalmente */
    max-width: 600px;
    height: 35px;
    margin: 0 auto;
    font-weight: 700;
    
  
  }

  .nav-opcoes ul.nav-links {
      flex-direction: row; /* Mantém as opções em linha */
  }

  .nav-opcoes ul.nav-links li.nav-option {
      margin: 0 10px; /* Ajusta o espaçamento entre as opções */
  }

  .nav-localizacao {
      margin-left: 20px; /* Adiciona espaçamento à esquerda da localização */
  }

  .home-banner.home-contato-projetos { /* aqui é p home banner debaixo*/
    height: 450px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
    width: 914px;
  }

  .home-banner {
    height: 550px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
    width: 100vh;
  }

  .home-banner p {
    width: 500px;
    font-size: 20px;
    height: 80px;
  }

  .home-banner h2 {
    width: 70%;
    font-size: 90px;
    font-weight: 300;
    height: 250px;
}

  .button-projetos {
    width: 150px;
  }

  .button-forms {
    width: 200px;
  }


  .botoes {
    width: 100%;
  }

  .apresentacao-trabalhos-mini {
    width: 200px;
    height: 200px;
}

.img-mini {
  width: 380px;
  height: 300px; /* Altura fixa para as imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
  border-radius: 10px; /* Bordas arredondadas (opcional) */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
}

.gallery-item {
  display: grid;
  position: relative; /* Necessário para posicionar o overlay */
  overflow: hidden; /* Oculta partes da imagem que excedem o contêiner */
  cursor: pointer; /* Indica que o item é interativo */
  width: 380px;
  height: 300px;
}

.overlay {
  width: 380px;
  height: 300px;

}

.img-mini {
    height: 300px;
}

.img-max {
  width: 100%;
  height: 400px;
}

.trabalhos-anteriores {

  height: 1050px;
  padding: 40px 27px;
  text-align: center;
  width: 76vh;
  margin: 0 auto;

  
}

.frase-trabalhos-anteriores h3 {
  text-align: start;

}

.titulo-frase-2 {
  padding-bottom: 10px;
}
.mini-perfil {
  padding-left: 18px;
  width: 100vh;
}

.apresentacao-trabalhos-mini-img {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  /* grid-gap: 20px; */
  width: 796px;

}

.titulo-apresentacao {
  width: 800px;
  text-align: left;
  font-size: 60px;
  font-weight: 500;
}

.texto-apresentacao {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.p1 {
  font-size: 17px;             /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: rgba(255, 255, 255, 0.747);
}

.p2 {
  font-size: 20px;  
  font-weight: 500;           /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: white;
  width: 419px;
}

.titulo-apresentacao.cometario {
  width: 800px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.container-planos {
  display: flex;
  justify-content: space-between; /* Divide em dois lados */
  align-items: center;
  flex-wrap: wrap; /* Quebra para telas pequenas */
  width: 100%;
  max-width: 800px; /* Define um limite de largura */
  margin: auto; /* Centraliza na página */
  padding: 50px;
}

/* Estilizando a primeira div (lado esquerdo) */
.projeto-info {
  flex: 1; /* Ocupa o espaço disponível */
  min-width: 200px; /* Define um tamanho mínimo */
  text-align: left;
  padding-left: 100px;
}

/* Estilizando a segunda div (lado direito) */
.fundador-info {
  flex: 1;
  min-width: 200px;
  text-align: right;
  padding-right: 100px;
}

.apresentacao-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  max-width: 1200px;
}

.texto-justificado {
  font-size: 25px;
  font-weight: 500;
  color: rgb(92, 92, 92);
  width: 800px;
}

.titulo-services {
  font-size: 100px;
  width: 90%;
  text-align: left;
}

.duas-colunas-contato {
  display: flex;
  flex-direction: column;
  max-width: 1441px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 50px;
}

.home-banner.home-banner-forms{
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 800px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 10px;
}

.home-banner.home-banner-forms h2 {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  font-size: 60px;
  font-weight: 800;
  height: 150px;
}

.home-banner.home-banner-forms p {
  height: 100px;
  padding-left: 20px;
}

}


@media (max-width: 800px) {
  body {
    max-width: 440px;
    min-width: 380px;
    margin: 0 auto;
  }

  main {
    padding-top: 60px;
    display: grid;
    place-items: center;
    justify-content: center;
    max-width: 430px;
    margin: 0 auto;
  }

  .navbar {
    display: flex;
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Alinha verticalmente */
    max-width: 400px;
    height: 35px;
    margin: 0 auto;
    font-weight: 500;
    
  
  }

  .sobeorra {
    font-size: 15px;
  }

  .nav-opcoes ul.nav-links li.nav-option a {
    color: black;
    text-decoration: none;
    font-size: 5px;
    transition: color 0.3s ease;
  }

  .nav-localizacao {
    color: black;
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }


  .trabalhos-anteriores {
    background-color: #fff;
    height: 1620px;
    width: 391px;
    padding: 40px 5px;
    text-align: center;
    margin: 0 auto;
  
    
  }

  .button-projetos {
    width: 110px;

  }

  .button-forms {
    width: 150px;
   
  }

  .btn {
    font-size: 15px;
  }

  .mini-perfil {
    padding-left: 15px;
    padding-right: 19px;
    width: 412px;
    align-items: center;
  }

  .estrelas-do-mini-perfil p {
    color: #33333384;
    padding-top: 10px;
    font-weight: 500;
    font-size: 10px;

  }

  .estrelas-do-mini-perfil {
  padding-left: 20px;
  padding-right: 20px;
  }

  .linha-bemvindo {
    max-width: 430px;
    margin: auto;
    width: 430px;
  }
  
  .linha-comentario {
    max-width: 430px;
    margin: auto;
    width: 430px;
  }

  .linha {
    width: 380px;
    max-width: 400px;
    margin: auto;
    
  }
  

  .card-image {

    position: relative;
    margin-left: -20px;
    width: 150px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .frase-trabalhos-anteriores h3 {
    width: 100%;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;

  }

  .apresentacao-trabalhos-mini-img {
    display: flex;
    flex-direction: column;
    width: 382px;
    grid-gap: 7px; 

  }
    .apresentacao-trabalhos-mini {
    width: 382px;
    height: 2000px;
    
  }

  .gallery-item {
    display: grid;
    position: relative; /* Necessário para posicionar o overlay */
    overflow: hidden; /* Oculta partes da imagem que excedem o contêiner */
    cursor: pointer; /* Indica que o item é interativo */
    width: 382px;
    height: 250px;
  }
  .img-mini {
    height: 250px;
    width: 380px;
  }

  .overlay {
    height: 250px;
    width: 380px;
 
  }

  /* Estilização das Frases no Overlay */
  .overlay .frase-esquerda,
  .overlay .frase-direita {
      font-size: 12px;
  }

  

  header {
    width: 395px;
  }

  section.home-banner {
    height: 310px;
    width: 390px;
    padding-top: 30px;
    padding-left: 4px;
    padding-right: 10px;

  }

  .home-banner h2 {
    width: 300px;
    font-size: 45px;
    font-weight: 300;
    height: 120px;
  }
  .home-banner p {
    width: 300px;
    font-size: 20px;
    height: 80px;
  }
  .boas-vindas {
    width: 360px;
  }

  .alinhar-botoes {
    width: 350px;
}

.titulo-apresentacao {
  width: 366px;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
}

.trabalhos-destacados {
  display: none;
}

.apresentacao-perfil .conteiner-perfil, .apresentacao-perfil .apresentacao-info {
  width: 50%;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  align-items: start;
  text-align: justify;
}

.apresentacao-info p {
  font-size: 14px;
  color: #d4d4d4c2;
  text-align: center;
}
.apresentacao-info h3 {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
}

.apresentacao-perfil {
  display: flex;
  align-items: flex-start;
  max-width: 366px;
  margin: 0 auto;
  gap: 5px;
  box-sizing: border-box;
}

.secao-apresentacao-perfil {
  height: 700px;
  z-index: 9999;
  width: 107%;
}

.p1 {
  font-size: 17px;             /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: rgba(255, 255, 255, 0.747);
}

.p2 {
  display: flex;
  flex-direction: column;
  font-size: 20px;  
  font-weight: 500;           /* Tamanho de fonte (ajuste se quiser maior/menor) */
  color: white;
  width: 150px;
}

.titulo-services{
  width: 340px;
  font-size: 40px;
  margin: 0 auto;
  text-align: left;

}
.texto-services {
  padding-top: 30px;
  width: 340px;
  text-align: start;
  color: #817c7c;
  margin: 0 auto;

}

.texto-justificado {
  font-size: 25px;
  font-weight: 400;
  color: rgb(92, 92, 92);
  width: 360px;
}

.apresentacao-services {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin: auto;
  max-width: 366px;
}

.linha-services {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.titulo-apresentacao.cometario {
  width: 366px;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}



.abaixo-frase-2,.titulo-frase-2,.texto-frase-2 {
  text-align: right;
  width: 100%;
  
}

.titulo-frase-2 h3 {
  font-size: 20px;
  font-weight: 500;
  color: #212020f8;
}

.titulo-frase-2 h4 {
  font-size: 20px;
  font-weight: 500;
  color: #212020f8;
  margin: auto;
  width: 200px;
  text-align: center;
}



.texto-frase-2 p {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  color: #504b4bf8;

}

.titulo-apresentacao.pacotes {
   display: flex;
    justify-content: center;
    width: 100%; 
    font-size: 20px; 
    font-weight: 600; 
    display: flex;
}

.alinhar-text-direita {
  padding-top: 0px; 
  text-align: right;
  padding: 20px;
  font-size: 1px;
  width: 100%;
}

.infos {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  
}

.texto-frase-2 p  {
  text-align: center;
  font-size: 12px
}

.bg-color-black {
  background-color: #111;
  padding-top: 10px;

}

.largura-areaPlanos {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;

}

.area-planos {
  gap: 20px;
  padding: 0px 20px 0px 20px;
  background-color: #111;
}

.cartao-plano {
  width: 100%;

}

.infos p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 100%;
}

.home-banner.home-contato-projetos {
  margin: 0;
  width: 380px;
  height: 238px;

 }

 .home-contato-projetos h2 {
  width: 199px;
  height: 200px;
  font-size: 24px;
}

 .flex-container {
  display: flex;
  width: 360px;
  height: 100px;
  justify-content: left;  /* Espaçamento entre os elementos */ 
}

.box2 {
  flex: 0 30% 0; /* Ocupa 70% da largura */
  text-align: start;
  font-size: 10px;
}

h2.box.box2 {
  width: 200px;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  color: #212020f8;
}

#botoes-final {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17px;
}


/* Estilizando a primeira div (lado esquerdo) */
.projeto-info {
  padding-left: 10px;
}

/* Estilizando a segunda div (lado direito) */
.fundador-info {
  padding-right: 10px;
}



}