/* Reset básico para remover margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;    /* Define a largura máxima */
  margin: 0 auto;       /* Centraliza horizontalmente */
  background-color: antiquewhite;/* Outras propriedades, se necessário */
}

/* Estilização do Header */
header {
  background-color:transparent; /* Cor de fundo do header */
  padding: 10px 20px; /* Espaçamento interno */
  position: fixed; /* Fixar o header no topo */
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  
  z-index: 1000; /* Garantir que o header fique acima de outros elementos */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha verticalmente */
}

/* Logo (ORRA STUDIO) */
.orraeicone {
  display: flex;
  align-items: center;
}

.sobeorra {
  font-size: 24px;
  color: black;
  opacity: 0;
  transform: translateY(50px); /* Posiciona o logo 50px abaixo inicialmente */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.sobeorra.show {
  transform: translateY(0); /* Move o logo para a posição original */
  opacity: 1;
}

/* Opções de Navegação */
.nav-opcoes {
  display: flex;
  flex-direction: row; /* Garante que as opções estejam em linha */
  color: black;
}

.nav-opcoes ul.nav-links {
  list-style: none;
  display: flex; /* Exibe os itens em linha */
}

.nav-opcoes ul.nav-links li.nav-option {
  margin: 0 15px; /* Espaçamento entre as opções */
  opacity: 0;
  transform: translateY(50px); /* Posiciona as opções 50px abaixo inicialmente */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.nav-opcoes ul.nav-links li.nav-option.show {
  transform: translateY(0);
  opacity: 1;
}

.nav-opcoes ul.nav-links li.nav-option a {
  color: black; /* Cor da fonte NAV */
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-opcoes ul.nav-links li.nav-option a:hover {
  color: #978a77; /* Cor ao passar o mouse */
}

/* Localização */
.nav-localizacao {
  color: black;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50px); /* Posiciona a localização 50px abaixo inicialmente */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.nav-localizacao.show {
  transform: translateY(0);
  opacity: 1;
}

.nav-localizacao:hover {
  color: #6170af; /* Cor ao passar o mouse */
}

.paragrafo-animado {
  width: 100%;
  max-width: 400px;
}

.home-banner {
  padding-top: 100px;
  height: 700px;
}

.home-banner h2 {
  width: 100%;
  font-size: 100px;
}
.home-banner p {
  width: 100%;
  font-size: 40px;
}

.botao p {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 10px;
  text-align: center;
  padding-top: 15px;
  border-radius: 25px;
  font-size: 20px;


}

.botao p:hover {
  background-color: rgb(194, 186, 186);
  color: black;
}

.alinhar-botoes {
  width: 200px;
  display: flex;
  padding-top: 20px;

}

.trabalhos-anteriores {

  height: 780px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;

  
}

.frase-trabalhos-anteriores {
  text-align: start;
  width: 100%;

}

.frase-trabalhos-destacados {
  padding-left: 20px;
  padding-bottom: 10px;
}

.apresentacao-trabalhos-mini {
  width: 100%;
}

.apresentacao-trabalhos-mini-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    grid-gap: 20px; /* Espaçamento entre as imagens */
    max-width: 1200px; /* Limita a largura da galeria */
    margin: 0 auto; /* Centraliza a galeria */
}



.img-mini {
  width: 100%;
  height: 300px; /* Altura fixa para as imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
  border-radius: 8px; /* Bordas arredondadas (opcional) */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
}

.img-max {
  width: 1200px;
  height: 600px;
  border-radius: 25px;
  display: block;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */

}

.apresentacao-trabalhos-maximo {
  display: flex;
  padding: 20px;

  justify-content: center;
}
.frase-trabalhos-anteriores h3{
  width: 100%;
  padding-bottom: 30px;


}

.gallery-item {
  position: relative; /* Necessário para posicionar o overlay */
  overflow: hidden; /* Oculta partes da imagem que excedem o contêiner */
  cursor: pointer; /* Indica que o item é interativo */
}
/*.gallery-item:hover .img-mini {
  transform: scale(1.1);  Zoom na imagem ao passar o mouse 
}
  AQUI PARA ADCIONAR O EFEITO ZOOM
*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.735); /* Camada semi-transparente */
  opacity: 0; /* Invisível inicialmente */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  
}

/* Torna o overlay visível ao passar o mouse */
.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay .text {
  color: #fff;
  text-align: end;
  transform: translateY(20px); /* Posiciona as frases abaixo inicialmente */
  opacity: 0; /* Invisível inicialmente */
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.gallery-item:hover .overlay .text {
  transform: translateY(0); /* Move as frases para a posição original */
  opacity: 1; /* Torna as frases visíveis */
}

.overlay .text p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.4;
}

/* Estilização das Frases no Overlay */
.overlay .frase-esquerda,
.overlay .frase-direita {
    position: absolute;
    bottom: 20px; /* Espaço do fundo */
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0; /* Invisível inicialmente */
    transform: translateY(30px); /* Posiciona as frases 20px abaixo */
    transition: transform 0.7s ease, opacity 0.1s ease;
}

/* Exibindo as Frases ao Passar o Mouse */
.gallery-item:hover .overlay .frase-esquerda,
.gallery-item:hover .overlay .frase-direita {
    opacity: 1; /* Torna as frases visíveis */
    transform: translateY(0); /* Move as frases para a posição original */
}

/* Posicionando a frase à esquerda */
.overlay .frase-esquerda {
    left: 20px; /* Espaço da esquerda */
    text-align: left;
}

/* Posicionando a frase à direita */
.overlay .frase-direita {
    right: 20px; /* Espaço da direita */
    text-align: right;
}

.apresentacao-trabalhos-abaixo {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas pequenas */
  width: 100%; /* Garante que a div ocupe 100% da largura disponível */
}
.apresentacao-trabalhos-abaixo > div {
  width: 50%; /* Cada div ocupa 50% da largura da div pai */
  box-sizing: border-box;
  padding: 0 30px 30px 30px ;
}

.titulo-frase-2 {
  padding-bottom: 20px;
}

/* ABAIXO SEGUNDO OVERLAY*/

/* Contêiner que engloba a imagem e o overlay */
.img-max-container {
  position: relative;    /* Permite posicionar o overlay sobre a imagem */
  width: 100%;           /* Ajuste conforme seu layout */
  /*max-width: 800px;       Limita a largura se quiser */
  margin: 0 auto;        /* Centraliza se quiser */
  overflow: hidden;      /* Garante que nada “vaze” */
}

/* A Imagem */
.img-max {
  width: 100%;
  height: 700px;          /* Mantém a proporção original, se quiser outro estilo, defina altura fixa */
  display: block;
  border-radius: 8px;    /* Bordas arredondadas, opcional */
  transition: transform 0.3s ease; /* Efeito de zoom no hover */
}

/*.img-max-container:hover .img-max {
  transform: scale(1.05);  Zoom leve na imagem ao passar o mouse 
} */

/* Overlay Simples (Sem Frase) */
.overlay2 {
  position: absolute;
  top: 0;   
  left: 0;  
  width: 100%;
  height: 100%;
  background: rgba(248, 244, 244, 0.219); /* Camada semi-transparente */
  opacity: 0;                     /* Invisível inicialmente */
  transition: opacity 0.3s ease;  /* Animação de aparição */
  border-radius: 8px;             /* Mesmo raio da imagem para acompanhar as bordas */
}

/* Exibir Overlay ao Passar o Mouse */
.img-max-container:hover .overlay2 {
  opacity: 1; /* Torna o overlay visível no hover */
}





/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  /* Mantém o layout em linha mesmo em telas menores */
  .navbar {
      flex-direction: row;
      align-items: center;
  }

  .nav-opcoes ul.nav-links {
      flex-direction: row; /* Mantém as opções em linha */
  }

  .nav-opcoes ul.nav-links li.nav-option {
      margin: 0 10px; /* Ajusta o espaçamento entre as opções */
  }

  .nav-localizacao {
      margin-left: 20px; /* Adiciona espaçamento à esquerda da localização */
  }

  .home-banner {
    height: 920px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .alinhar-botoes {
    width: 200px;
  }

  .botoes {
    width: 100%;
  }

  .apresentacao-trabalhos-mini-img {
    grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
}

.img-mini {
    height: 400px;
}

.img-max {
  width: 100%;
  height: 400px;
}

.trabalhos-anteriores {
  background-color: red;
  height: 2600px;
  width: 100%;
  padding: 40px 20px;
  text-align: center;

  
}

.frase-trabalhos-anteriores h3 {
  text-align: start;

}

.titulo-frase-2 {
  padding-bottom: 10px;
}

}
